<h1>{{Movie.title}}Hello</h1>
<div class="container">
<!-- <ul>
  <li><strong>Title:</strong> {{ user$.username }} </li>
  <li><strong>Run Time:</strong> {{ user$.email }} </li>
  <li><strong>Genre:</strong> {{ user$.phone }} </li>
  <li><strong>Rating:</strong> {{ user$.phone }} </li>
  <li><strong>Director:</strong> {{ user$.phone }} </li>
  <li><strong>Status:</strong> {{ user$.phone }} </li> -->

<!-- </ul> -->
<br>
  <div class="row">
    <div class="col-sm-4">
      <button type="button" class="btn btn-info btn-block btn-lg" routerLink="">Go Back</button>
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <button type="button" class="btn btn-success btn-block btn-lg" (click)=reserve()>Reserve</button>
    </div>
  </div>
</div>