<div class="container">
    <h1 class="pt-5">Movie Details</h1>
<ul>
  <li><strong>Title:</strong> {{ movies$.Title }} </li>
  <li><strong>Run Time:</strong> {{ movies$.RunTime }} </li>
  <li><strong>Genre:</strong> {{ movies$.Gen }} </li>
  <li><strong>Rating:</strong> {{ movies$.Rating }} </li>
  <li><strong>Director:</strong> {{ movies$.Director }} </li>
  <li><strong>Status:</strong> {{ movies$.Status }} </li>
  <li> <strong>Customer Name:</strong> <select class="form-control">
    <option *ngFor="let customer of customer$">{{ customer.FirstName }} {{customer.LastName}}</option>
  </select></li>


</ul>
<br>
  <div class="row">
    <div class="col-sm-4">
      <button type="button" class="btn btn-info btn-block btn-lg" routerLink="">Go Back</button>
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <button type="button" class="btn btn-success btn-block btn-lg" (click)="status(movies$._id)">Reserve</button>
    </div>
  </div>
</div>

